<!DOCTYPE html>
<html lang="en">
    <head>
        {% if title %}
        <title>{{ title }} - Diginetbot</title>
        {% else %}
        <title>Welcome to Diginetbot</title>
        {% endif %}
        <link rel="stylesheet" media="screen" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <meta name="viewport" content = "width=device-width, initial-scale=1.0">
        {% if auto_refresh %}
        <meta http-equiv="refresh" content="5">
        {% endif %}
    </head>
    <body>
        <div><a href="/settings{% if username %}?user={{ username }}{% endif %}">Settings</a>
         | <a href="/log{% if username %}?user={{ username }}{% endif %}">Log</a>
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>