{% extends "base.html" %}

{% block content %}
    <h1>Settings</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <h2>Bot status is: {{ bot_status }}</h2>
        <p>
            {{ form.bot_interval.label }}
            {{ form.bot_interval(size=32) }}<br>
        </p>

        <h2>Bitstamp</h2>
        <p>
            {{ form.bitstamp_key.label }}
            {{ form.bitstamp_key(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_secret.label }}
            {{ form.bitstamp_secret(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_uid.label }}
            {{ form.bitstamp_uid(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_currency_max_pct.label }}
            {{ form.bitstamp_currency_max_pct(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_asset_max_pct.label }}
            {{ form.bitstamp_asset_max_pct(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_orderbook_pct.label }}
            {{ form.bitstamp_orderbook_pct(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_order_to_copy.label }}
            {{ form.bitstamp_order_to_copy(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_min_order.label }}
            {{ form.bitstamp_min_order(size=32) }}<br>
        </p>
        <p>
            {{ form.bitstamp_diff_pct.label }}
            {{ form.bitstamp_diff_pct(size=32) }}<br>
        </p>

        <h2>Diginet</h2>
        <p>
            {{ form.diginet_key.label }}
            {{ form.diginet_key(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_secret.label }}
            {{ form.diginet_secret(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_usd_vnd_rate.label }}
            {{ form.diginet_usd_vnd_rate(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_btc_vnd_max.label }}
            {{ form.diginet_btc_vnd_max(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_vnd_btc_max.label }}
            {{ form.diginet_vnd_btc_max(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_eth_vnd_max.label }}
            {{ form.diginet_eth_vnd_max(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_vnd_eth_max.label }}
            {{ form.diginet_vnd_eth_max(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_currency_max_pct.label }}
            {{ form.diginet_currency_max_pct(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_asset_max_pct.label }}
            {{ form.diginet_asset_max_pct(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_min_order.label }}
            {{ form.diginet_min_order(size=32) }}<br>
        </p>
        <p>
            {{ form.diginet_diff_pct.label }}
            {{ form.diginet_diff_pct(size=32) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}